<div class="dashboardItem draggable">
  <div class="dashboardItemHeader">
    @RenderSection("dashboardHeader")
  </div>
  <div class="dashboardItemBody">
    @RenderSection("dashboardBody")
  </div>
</div>
